html, body {
    position: relative;
    height: 100%;
    width: 100%;

    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.application {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px;

    .application-header {

    }

    .application-content {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .application-footer {

    }
}



a {
    color: #00B7FF;
}

.products {
    th {
        text-align: left;
    }
    
    td, th {
        padding: 10px;
    }
    
    .price {
        text-align: right;
    }

    button.action {
        width: 120px;

        &.add {
            background: green;
            color: white;
        }

        &.remove {
            background: #fff3b5;
        }

        &.unavailable {
            background: lightgrey;
        }
    }
}

.cart-strip {
    line-height: 20px;
    height: 20px;
}

.cart {
    th {
        text-align: left;
        border-bottom: 1px solid black;
    }

    td, th {
        padding: 10px;
    }

    tr {
        &.actions {
            .buttons {
                float: right;
                button {
                    width: 100px;
                    margin-left: 20px;
                }
            }
        }

        &.total {
            font-weight: bold;
            font-size: larger;
        }
    }

    td.price, td.cost {
        text-align: right;
    }
}