doctype html
html
    head
        title Test Suits
        script(data-main='./js/test/index.js' src='./js/libs/require.js')
        link(rel="stylesheet" href="css/mocha.css")
    body
        #mocha